{% extends "base.html" %}

{% block title %}유저목록 - {{ site_name }}{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>email</th>
                <th>nickname</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.nickname }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}